@charset "utf-8";

* {
    color: #333;
}

body {
    background-color: #F9EFF7;
}

/* .header_cover {
    background-color: #FCE0E2;
} */

header>h1 {
    color: #E97384;
}

header>nav>ul>li {
    color: #E97384;
}

header>nav>ul>li>a:hover {
    color: #fff;
}

.content1>video {
    border: 5px solid #E97384;
}

.content1>p {
    color: #555;
}

.content1>p:hover {
    color: #ccc;
}